.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  padding: 20px;
  margin: 20px;
  font-size: 15px;
  

}

form {
 
  flex-direction: row;
}

button {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background-color: #222;
  color: #fff;
  border: 0px;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  text-align: left;
  font-size: 15px;
  
}

.container {
  display: flex;
}

.container  ,.people {
  flex-grow: 4;
}

select
{
  padding: 20px;
  margin: 20px;
  font-size: 12px;
}

.half {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50%;
  padding-top: 200px;
}

p {
  margin: 0px;
  line-height: 40px;
  text-align: left;
  word-wrap: break-word;
}

small {
  padding-top: 30px;
  font-size: 10px;
}

.disabled {
  display: none;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: #282c34;
  }

  .App {
    display: block;
    background-color: #282c34;
  }
  .half {
    padding-bottom: 0px;
    min-height: 0px;
    width: 100%;
    padding-top: 50px
  }
}